[submodule "external/archway"]
	path = external/archway
	url = https://github.com/archway-network/archway
[submodule "external/wasmd"]
	path = external/wasmd
	url = https://github.com/archway-network/archway-wasmd
